Project/src/__pycache__/my_functions.cpython-310.pyc
Project/src/__pycache__/order_functions.cpython-310.pyc
Project/src/__pycache__/product_functions.cpython-310.pyc
Project/src/__pycache__/products.cpython-310.pyc
Project/src/__pycache__/test_couriers_fun.cpython-310-pytest-7.1.2.pyc
Project/src/__pycache__/test_orders_fun.cpython-310-pytest-7.1.2.pyc
Project/src/__pycache__/test_products_fun.cpython-310-pytest-7.1.2.pyc
